<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        病历记录
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">病历列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>病历编号</th>
                            <th>病情诊断</th>
                            <th>病人姓名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="record in records">
                            <td>{{record.id}}</td>
                            <td class="datahide">{{record.diagnosis}}</td>
                            <td>{{record.username}}</td>
                            <td>
                                <a class="btn btn-primary" ng-click="goRecordDetail(record)" target="_blank">详情</a>
                                <a class="btn btn-success" href="#/gallery/{{record.id}}" target="_blank">CT预览</a>
                                <a class="btn btn-danger" ng-click="deleteRecord(record.id)">删除</a>
                                <a class="btn btn-warning" href="#/cancer/{{record.id}}">恶性肿瘤检测</a>
                                <a class="btn btn-info" ng-click="report(record)">生成报表</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
