<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        病历详情
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">病历诊断</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label><span>病历ID:{{id}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>病人用户名:{{username}}</span></label>
                        <textarea ng-model="diagnosis" class="form-control" rows="5" placeholder="添加诊断结果"></textarea>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-info" ng-click="updateDiagnosis()">更新诊断结果</a>
                    </div>
                    <div class="form-group">
                        {{updateDiagnosisResult}}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">CT图像列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>CT类型</th>
                            <th>CT诊断</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ctImage in ctImages">
                            <td>{{ctImage.id}}</td>
                            <td>{{ctImage.type}}</td>
                            <td class="datahide">{{ctImage.diagnosis}}</td>
                            <td>
                                <a class="btn btn-success" ng-click="goDiagnosis(ctImage)">病历</a>
                                <a ng-if="main.isPermitted('cad')" class="btn btn-info" ng-click="goCAD(ctImage)">辅助诊断</a>
                                <!--<a ng-if="main.isPermitted('cad') && isLiver(ctImage.type)" class="btn btn-info" ng-click="goCAD(ctImage)">辅助诊断</a>
                                <a ng-if="main.isPermitted('cad') && isLung(ctImage.type)" href="#/lung/{{ctImage.file}}" class="btn btn-info">肺部辅助诊断</a>-->
                                <a ng-if="main.isPermitted('delete_ct')" class="btn btn-danger" ng-click="deleteCT(ctImage.id)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
