<link rel="stylesheet" href="assets/photoswipe/css/photoswipe.css">
<link rel="stylesheet" href="assets/photoswipe/default-skin/default-skin.css">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        CT切片
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="image-thumbs">
        <div id="photoswipe" photo-swipe images="images">
        </div>
    </div>

    <!-- Dem photoswipe -->
    <div photo-slider></div>
    <!--<div>
        <h1> {{ vm.title }} </h1>

        <button ng-click="GalleryCtrl.showGallery()"> Show Gallery (external btn) </button>

        <ul class="slide-list">
            <li ng-repeat="s in GalleryCtrl.slides track by $index" ng-click="GalleryCtrl.showGallery($index)">
                <img ng-src="{{ s.src }}" alt="slide number {{ $index }}" />
            </li>
        </ul>

        <div ng-photoswipe slides="GalleryCtrl.slides" open="GalleryCtrl.open" on-close="GalleryCtrl.closeGallery()" options="GalleryCtrl.opts"></div>

    </div>-->
</section>
<!-- /.content -->
<!--
<script type="text/javascript" src="assets/photoswipe/photoswipe.js"></script>
<script type="text/javascript" src="assets/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="assets/photoswipe/angular-photoswipe.min.js"></script>-->
