<link rel="stylesheet" href="assets/Jcrop/css/jquery.Jcrop.css" type="text/css"/>
<script src="assets/Jcrop/js/jquery.Jcrop.js"></script>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">CT图像</h3>
                </div>
                <div class="box-body">
                    <img alt="[Jcrop Example]" src="{{myImage}}" id="target" class="img-polaroid" />
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">辅助诊断</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>
                            提示!
                        </h4>划取疑似病变区域并点击智能分析按钮.
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <button class="btn btn-large btn-success" type="button" ng-click="predictLesionType();">
                                智能分析
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-large btn-success" type="button" ng-click="labelLesion();">
                                病变标注
                            </button>
                        </div>
                    </div>
                    <!--<div class="col-md-12">
                        <div class="col-md-6" ng-bind="addFeatureResult"></div>
                    </div>-->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- BAR CHART -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">CT诊断</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            病历编号：{{recordId}}
                        </div>
                        <div class="col-md-4">
                            CT编号：{{id}}
                        </div>
                        <div class="col-md-4">
                            CT类型：{{type}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <textarea style="width: 90%" class="form-control" rows="5" ng-model="diagnosis">
                            {{diagnosis}}
                        </textarea>
                    </div>

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button class="btn btn-large btn-success" type="button" ng-click="updateDiagnosis()">更新诊断
                        </button>
                    </div>
                    <div class="col-md-4"></div>

                    <div class="col-md-4"></div>
                    <div class="col-md-12">
                        {{status}}
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
