.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    background-image: url("../img/prev.png");
    left: -90px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("../img/next.png");
    opacity: 0.2;
    right: -90px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav2 {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin-top: 500px;
    padding: 1em 0 0.8em;
    position: relative;
    right: 0;
    /*text-align: center;*/
    width: 100%;
    z-index: 5;
}
.nav2 li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.nav2 li.active {
    border: 5px solid #FFFFFF;
}
.nav2 li img {
    width: 100%;
}

.slider {
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    height: 512px;
    margin: 20px auto;
    position: relative;
    width: 512px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 900px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 312px;
        width: 500px;
    }
    .slider .slide {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 188px;
        width: 300px;
    }
    .slider .slide {
        width: 100%;
    }
    .nav2 {
        height: 28px;
    }
    .nav2 li {
        border: 3px solid #AAAAAA;
        border-radius: 3px;
        height: 15px;
        width: 25px;
    }
}